.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.ex-1-square:hover{
    background-color: red;
    transition: background-color 5s;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-2-square:hover{
    width: 100%;
    transition: width 5s;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square:hover{
    border-radius: 50%;
    transition: border-radius 5s;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    visibility: visible;
    background: red;
}

.ex-4-square:hover{
    background: #ff000000;
    transition: background 5s;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-5-square:hover{
    width: 100px;
    height: 100px;
    transition: all 5s;
    
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
    transition: all 5s;
    
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img:hover{
    filter: grayscale(1) opacity(0.3);
    transition: all 5s;
}

.ex-8-img:hover{
    filter: saturate(1) brightness(0.2);
    border-radius: 3rem;
    transition: all 5s;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img:hover{
    width: 300px;
    filter: grayscale(0.5) saturate(10);
    border-radius: 3rem;
    transition: all 5s;
}

.ex-10-icon {
    font-size: 60px;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.ex-11-icon {
    font-size: 60px;
    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(270deg);
    }

    100%{
        transform: initial;
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-top-white{
    animation: circle 10s linear infinite;
}

@keyframes circle {
    0%{
        left: 0%;
    }

    100%{
        left: calc(100% - 60px);
    }
    
}

.ex-12-bottom-white{
    animation: round 10s linear infinite;
}

@keyframes round {
    0%{
        right: 0%;
    }

    100%{
        right: calc(100% - 60px);
        
    }
    
}


.ex-13-top-white{
    animation: loading 5s linear infinite;
}

@keyframes loading {
    
    0%{
        left: -15px;
        top: -10px;

    }
    
    25%{
        left: calc(100% - 30px);
        top: -10px;
    }

    50%{
        left: calc(100% - 30px);
        top: 50px;
        
    }

    75%{
        left: -15px;
        top: 50px;
    }

    100%{
        left: -15px;
        top: -10px;
    }
}

.ex-13-bottom-white{
    animation: load 5s linear infinite;
}

@keyframes load {
    0%{
        right: -15px;
        bottom: -10px;

    }
    
    25%{
        right: calc(100% - 30px);
        bottom: -10px;
    }

    50%{
        right: calc(100% - 30px);
        bottom: 50px;
        
    }

    75%{
        right: -15px;
        bottom: 50px;
    }

    100%{
        right: -15px;
        bottom: -10px;
    }

}